@import 'media_queries';

@include media (laptop, desktop){
    footer{
        margin: auto;
        width: 65%;
        color: white;
        .block-footer{
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            .col1, .col2, .col3{
                margin: 0 auto;
                padding-top: 20px;
                .heading{
                    margin-bottom: 30px;
                    font-size: 20px;
                }  
            }
            .infos, .terms{
                display: grid;
                a{
                    text-decoration: none;
                    color: white
                }
            }
            ion-icon{
                font-size: 35px;
                padding-right: 20px;
                color: white;
            }
        }
    }
}