@import 'media_queries';

header{
    background-color: black;
    color: white;
    display: flex;
    padding: 20px;
    img{
        width: 15vw;
        // invert the color of logo from white to black
        filter: invert(1);
        border-radius: 50px;
    }
    a{
        text-decoration: none;
        &:visited{
            color: white;
        }
    }
    h1{
        display: flex;
        align-items: center;
        margin-left: 20px;
        font-size: 1em;
        width: 80vw; 
    }
    ul{
        position: absolute; 
        top: 50px;
        left: 14%; 
        width: 35vw;
        margin: 0;
        padding-bottom: 10px;
        display: flex;
        a{
            text-decoration: none;
            li{
                display: block;
                padding: 5px;
                font-size: 15px;
                list-style-type:none
            }
        }
    }
}   
@include media(tablet, desktop, laptop){
    header{
        img{
            width: 100px;
        }
        h1{
            font-size: 35px;
            width: 100%;
        }
        ul{
            position: inherit;
            flex-wrap: wrap;
            align-content: center;
            a{
                li{
                padding-left: 30px;
                padding-right: 30px;
                font-size: 18px;
                }
            }
        }
    }
}
