@use "header";

// Home-page style

body{
    width: 100%;
    margin:0;
    background-color: black;
    h2,p{
        color: white
    }
    #top-rated, #top-rated-action, #top-rated-comedy, #top-rated-thriller{
        display: flex;
    }
    .top-rated-image{
        padding : 3px;
        
    }
    

}

