@use "header";
@import 'media_queries';

// Home-page style

body{
    box-sizing: border-box;
    width: 100%;
    margin:0 auto;
    background-color: black;
    h2,p{
        color: white
    }
    #top-rated-container, #top-rated-action-container, #top-rated-comedy-container, #top-rated-thriller-container{
        overflow: auto;
        margin: auto;
        width: 50vw;
        // hide scrollbar from navigator
        &::-webkit-scrollbar { 
            width: 0 !important   
        }
    }
    #top-rated, #top-rated-action, #top-rated-comedy, #top-rated-thriller{
        display: flex;
        align-items: center;
    }
    #best-movie{
        height: 75vh;
    }
    .best-movie-infos{
        display: flex;
        margin : auto;
        width: 80%;
        justify-content: center;
        align-items: center;
        .best-movie-infos-left{
            padding-right: 30px;
            h2{
                font-size: xxx-large;
                text-align: center;
            }
            button{
                height: 45px;
                width: 175px;
                padding: 10px 20px;
                margin: 5px;
                border: 2px solid white;
                background-color: #00d0d0;
                border-radius: 7px;
                &:hover{
                    background-color: white;
                    border: 2px solid black;
                }
            } 
            p{
                width: 350px;
                margin: auto;
                text-align: justify;
                padding-bottom: 30px;
            }
        }
    }
    .best-movie-image{
        width: 25%;
    }

    #left-button, #right-button{
        cursor: pointer;
    }
    .arrow-left, .arrow-right{
        filter: invert(1);
        width: 50px;
        height: 50px;
    }
    .arrow-left{
        transform: scaleX(-1);
        position: absolute;
        left: 290px;
    }
    .arrow-right{
        position: absolute;
        right: 290px;
    }
    .images-carousel{
        width: 80vw;
        margin: auto;
        h2{
            padding-left: 245px;
        }
        img{
            cursor: pointer;
        }
        .top-rated-image{
            padding : 3px;
            width: 300px;
        }
    }  
    .invisible{
        display: none;
    }
    .modal{
        // visibility: hidden;
        position: fixed; /* Stay in place */
        display: flex;
        z-index: 1; /* Sit on top */
        left: 50%;
        top: 15%;
        transform: translateX(-50%);
        width: 60%; /* Full width */
        height: 80%;
        overflow: auto; /* Enable scroll if needed */
        background-color: pink;/* Fallback color */
        .left-side-movie-infos{
            width: 60%;
            header{
                background-color: white;
                h3{
                    color: black;
                    margin: auto;
                }
            }
            .modal-datas-div{
                display: flex;
                align-items: center;
                justify-content: flex-start;
                h4{
                    // width: 150px;
                    padding-left: 20px;
                    margin-bottom: 0;
                    min-width: 90px;
                    text-align: right;
                } p{
                    padding-left: 20px;
                    margin-bottom: 0;
                }
            }
        }
        img{
            width: 40%;
        }
        button{
            height: 26px;
            width: 26px;
            position: absolute;
            top: 0px;
            right: 0px;
            font-weight: bold;
            &:hover{
                background-color: red;
                color: white;
            }
        }
    }
}

